<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <h1 class="title">Felhasználói profil</h1>
                <p class="subtitle is-4">Itt szerkesztheted a felhasználói adataidat
                </p>
                <form (ngSubmit)="submit()" #loginForm="ngForm">
                    <!-- 
                        Notification box
                     -->
                    <div class="notification is-light" [ngClass]="'is-' + error.kind" *ngIf='error'>
                        <button class="delete" (click)='error = null'></button>
                        {{error.message}}
                    </div>
                    <div class="field">
                        <label class="label">Felhasználói név</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Demo felhasználói név" name="username"
                                [(ngModel)]="profile.username" readonly disabled>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="demo.elek@email.com"
                                [(ngModel)]="profile.email" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Név</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Példa név" [(ngModel)]="profile.name"
                                name="name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-info is-outlined" type="submit"
                                    [class.is-ok]="isOk">Mentés</button>
                                <button class="button" type="button">Jelszó módosítása</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <h1 class="title">Jelszó módosítása</h1>
                <p class="subtitle is-4">Kérünk add meg az új jelszavadat
                </p>
                <form (ngSubmit)="submit()" #loginForm="ngForm">
                    <div class="field">
                        <label class="label">Új jelszó</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="erősjelszó">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Új jelszó ismét</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="erősjelszó">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="buttons">
                                <button class="button is-info is-outlined" type="submit">Módosítás</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>