<section class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12">
                <p class="title is-size-4">{{issue.title}}</p>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div class="column is-narrow">
                <span class="tag is-large is-light" [class.is-danger]="!issue.is_open"
                    [class.is-success]="issue.is_open">{{issue.is_open ? 'Nyitott' : 'Lezárt'}}</span>
            </div>
            <div class="column">
                <p class="is-inline-block">
                    {{issue.created_by}} nyitotta {{issue.date_created | date:'medium'}}
                </p>
            </div>
            <div class="column is-narrow">
                <button class="button is-success">Új issue</button>
            </div>
        </div>

        <hr>

        <div class="columns">
            <div class="column is-9">
                <div class="card">
                    <header class="card-header has-background-light">
                        <p class="card-header-title has-text-weight-normal">
                            Leírás
                        </p>
                        <a href="#" class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="far fa-smile" aria-hidden="true"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{issue.description}}
                        </div>
                    </div>
                    <!-- <footer class="card-footer">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer> -->
                </div>

                <div *ngFor="let event of issue.events; index as i;">
                    <hr>
                    <div [ngSwitch]="event.kind.type">
                        <!--
                            Label Added
                        -->
                        <p class="content has-text-centered" *ngSwitchCase="'LabelAdded'">
                            <span class="icon is-medium">
                                <i class="fas fa-tag"></i>
                            </span>
                            {{event.created_by}} hozzáadta az alábbi címkét <app-label
                                [labels]="[$any(event.kind.body)]"></app-label><br> ekkor:
                            {{event.date_created | date:'medium'}}
                        </p>
                        <!--
                            Label Removed
                        -->
                        <p class="content has-text-centered" *ngSwitchCase="'LabelRemoved'">
                            <span class="icon is-medium">
                                <i class="fas fa-tag"></i>
                            </span>
                            {{event.created_by}} törölte az alábbi címkét <app-label [labels]="[$any(event.kind.body)]">
                            </app-label><br> ekkor: {{event.date_created | date:'medium'}}</p>
                        <!--
                            Issue Closed        
                        -->
                        <p class="content has-text-centered" *ngSwitchCase="'Closed'">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            {{event.created_by}} lezárta ekkor: {{event.date_created | date:'medium'}}</p>
                        <!--
                            Issue Open
                        -->
                        <p class="content has-text-centered" *ngSwitchCase="'Opened'">
                            <span class="icon">
                                <i class="fas fa-lock-open"></i>
                            </span>
                            {{event.created_by}} megnyitotta ekkor: {{event.date_created | date:'medium'}}</p>
                        <!--
                            Issue Assigned To
                        -->
                        <p class="content has-text-centered" *ngSwitchCase="'AssignedTo'">
                            <span class="icon">
                                <i class="fas fa-lock-open"></i>
                            </span>
                            {{event.created_by}} hozzárendelte a feladatot => <strong>{{$any(event.kind.body)}}</strong>
                            <br> ekkor: {{event.date_created | date:'medium'}}</p>
                        <!--
                            Issue Comment
                        -->
                        <div class="card" *ngSwitchCase="'NewComment'" [attr.id]="$any(event.kind.body).id">
                            <header class="card-header has-background-light">
                                <p class="card-header-title has-text-weight-normal">
                                    {{event.created_by}} hozzászólt ekkor: {{event.date_created | date:'medium'}}
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="far fa-smile" aria-hidden="true"></i>
                                    </span>
                                    <span *ngIf="$any(event.kind.body).liked.length > 0">
                                        + {{$any(event.kind.body).liked.length}}
                                    </span>
                                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {{$any(event.kind.body).text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="field">
                    <label class="label">Hozzászólás</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Hozzászólás" [(ngModel)]="comment"
                            name="comment"></textarea>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-success is-outlined" (click)="commentIssue()">Hozzászólás</button>
                    </div>
                    <div class="control" [ngSwitch]="issue.is_open">
                        <button *ngSwitchCase="true" class="button is-danger is-light" (click)="closeIssue()">Issue
                            lezárása</button>
                        <button *ngSwitchCase="false" class="button is-success is-light" (click)="openIssue()">Issue
                            megnyitása</button>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <p class="title is-size-6">Címkék</p>
                <app-label [labels]="issue.labels"></app-label>
                <hr>
                <p class="title is-size-6">Felelős</p>
                <!-- TODO: Maybe using this? https://www.npmjs.com/package/ng-click-outside -->
                <div class="dropdown" [class.is-active]="dropdownActive">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2"
                            (click)="dropdownActive ? dropdownActive = false : dropdownActive = true">
                            <span>{{issue.assigned_to}}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                        <div class="dropdown-content">
                            <div *ngFor="let user of users; index as i;">
                                <hr class="dropdown-divider" *ngIf="i > 0">
                                <div class="dropdown-item">
                                    <small><a
                                            (click)="assignTo(user.username); dropdownActive = false;">{{user.name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>