<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <nav class="panel">
                    <p class="panel-heading">
                        Értesítések
                    </p>
                    <!-- <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="far fa-square" aria-hidden="true"></i>
                        </span>
                        Összes
                    </a>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-envelope" aria-hidden="true"></i>
                        </span>
                        Olvasatlan
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="far fa-envelope-open" aria-hidden="true"></i>
                        </span>
                        Olvasott
                    </a> -->
                </nav>
            </div>
            <div class="column is-9">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="is-narrow is-hidden-mobile">Státusz</th>
                            <th class="is-narrow">Dátum</th>
                            <th class="">Értesítés</th>
                            <th class="is-narrow"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notification of notifications.view">
                            <td class="is-hidden-mobile">
                                <a (click)="set_seen(notification.id)">
                                    <span class="icon" [class.has-text-info]="notification.is_new"
                                        [class.has-text-grey]="!notification.is_new">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </a>
                            </td>
                            <td><small>{{notification.date_created | date:'yyyy-MM-dd HH:mm'}}</small></td>
                            <td>
                                <a [routerLink]="'/a'+notification.location" (click)="set_seen(notification.id)"
                                    [class.has-text-dark]="!notification.is_new">
                                    {{notification.subject}}
                                </a>
                            </td>
                            <td>
                                <button class="button" (click)="delete(notification.id)">Törlés</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="buttons has-addons is-centered" *ngIf="notifications.pages().length > 1">
                    <button class="button" (click)="notifications.back()">Előző</button>
                    <ng-container *ngFor="let page of notifications.pages()">
                        <button class="button" (click)="notifications.navigate_to(page)"
                            [class.is-info]="notifications.current_page == page">{{page}}</button>
                    </ng-container>
                    <button class="button" (click)="notifications.next()">Következő</button>
                </div>
            </div>
        </div>
    </div>
</section>