<section class="hero is-fullheight">
    <div class="hero-body">
        <ng-container [ngSwitch]='scene'>
            <div class="container" *ngSwitchCase="2">
                <div class="columns">
                    <div class="column is-4-desktop is-offset-4-desktop">
                        <div class="box">
                            <p class="title is-6">Nyitvatartás</p>
                            <p class="subtitle is-6">4522 Nyírtass, Ady út 11.</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nap</th>
                                        <th>Délelőtt</th>
                                        <th>Délután</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let day of openings'>
                                        <td>{{day.day}}</td>
                                        <td>{{day.bs}} - {{day.be}}</td>
                                        <td>{{day.as}} - {{day.ae}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <button class="button" (click)='setSceneMain()'>Vissza</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" *ngSwitchCase="1">
                <div class="columns">
                    <div class="column is-4-desktop is-offset-4-desktop">
                        <div class="box">
                            <p class="title is-size-6">Gardenova Termelő és Kereskedelmi kft.</p>
                            <p class="subtitle is-size-6">Székhely: 4522 Nyírtass, Bem út 23/B.</p>
                            <p>Cégjegyzékszám: 15-09-077043
                                <br>Adószám: 23127182-2-15
                                <br>Bankszámla: 10404436-50526580-66701009
                                <br>(K&H Bank)
                                <br>Bolt címe: 4522 Nyírtass, Ady út 11.
                            </p>
                            <hr>
                            <p>Email: <a href="mailto:hello@gardenova.hu">hello@gardenova.hu</a></p>
                            <hr>
                            <button class="button" (click)='setSceneMain()'>Vissza</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container has-text-centered" *ngSwitchCase="0">
                <p class="content"><span class="icon"><i class="fas fa-apple-alt fa-10x"></i></span></p>
                <h1 class="title">Gardenova</h1>
                <p class="subtitle">Kertész technológiai áruház</p>
                <p class="content">4522 Nyírtass, Bem út 23/B. Magyarország
                    <br><a href="mailto:hello@gardenova.hu">hello@gardenova.hu</a>
                </p>
                <div class="buttons has-addons is-centered">
                    <button class="button" (click)='setSceneDetails()'>Céges adatok</button>
                    <button class="button" (click)='setSceneOpenings()'>Nyitvatartás</button>
                </div>
            </div>
        </ng-container>
    </div>
</section>