<section class="section">
    <div class="container">
        <!-- Main container -->
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <p class="control">
                            <input class="input" type="text" placeholder="Keresés ...">
                        </p>
                        <p class="control">
                            <button class="button">
                                Keresés
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <p class="level-item"><a>Összes</a></p>
                <p class="level-item"><a>Nyitott</a></p>
                <p class="level-item"><a>Lezárt</a></p>
                <p class="level-item"><a class="button is-success">Új issue</a></p>
            </div>
        </nav>

        <hr>

        <div class="columns is-mobile">
            <div class="column is-narrow">
                <span class=" icon has-text-success">
                    <i class="fas fa-cookie-bite"></i>
                </span>
            </div>
            <div class="column">
                <p class="has-text-weight-bold is-inline">
                    <a routerLink='./'>Kerti ásót tudunk rendelni?</a>
                </p>
                <div class="tags is-inline">
                    <span class="tag is-warning">Kérdés</span>
                    <span class="tag is-info">Termék</span>
                </div>
                <p class="is-size-7">#19 mezeipetister nyitotta 9 órája</p>
            </div>
            <div class="column is-1">
                <span class="icon">
                    <i class="fas fa-comment-dots"></i>
                </span>
                12
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column is-narrow has-text-success">
                <span class=" icon">
                    <i class="fas fa-cookie-bite"></i>
                </span>
            </div>
            <div class="column">
                <p class="has-text-weight-bold is-inline">Nem működik a bankkártyás fizetés!
                </p>
                <div class="tags is-inline">
                    <span class="tag is-danger">Hiba</span>
                    <span class="tag is-warning">Sürgős</span>
                </div>
                <p>#19 mezeipetister nyitotta 9 órája</p>
            </div>
            <div class="column is-1">
                <span class="icon">
                    <i class="fas fa-comment-dots"></i>
                </span>
                12
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column is-narrow">
                <span class=" icon has-text-success">
                    <i class="fas fa-cookie-bite"></i>
                </span>
            </div>
            <div class="column">
                <p class="has-text-weight-bold is-inline">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Vel culpa ad commodi voluptatum magnam sed expedita dolore
                    soluta necessitatibus.
                </p>
                <div class="tags is-inline">
                    <span class="tag is-warning">Kérdés</span>
                    <span class="tag is-info">Termék</span>
                </div>
                <p>#19 mezeipetister nyitotta 9 órája</p>
            </div>
            <div class="column is-1">
                <span class="icon">
                    <i class="fas fa-comment-dots"></i>
                </span>
                12
            </div>
        </div>

        <div class="buttons has-addons is-centered">
            <button class="button">Előző</button>
            <button class="button">1</button>
            <button class="button">2</button>
            <button class="button">3</button>
            <button class="button">Következő</button>
        </div>

    </div>
</section>