<section class="section">
    <div class="container is-fullhd">
        <div class="columns">
            <div class="column is-4">
                <nav class="panel">
                    <p class="panel-heading">
                        Kereső
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Keresés" autofocus>
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <p class="panel-tabs">
                        <a class="is-active">Összes</a>
                        <a>Termékek</a>
                        <a>Vásárlók</a>
                    </p>
                    <a class="panel-block is-small" tabindex="0">
                        <span class="panel-icon">
                            <i class="fas fa-box" aria-hidden="true"></i>
                        </span>
                        Kerti seprű
                    </a>
                    <a class="panel-block" tabindex="0">
                        <span class="panel-icon">
                            <i class="fas fa-box" aria-hidden="true"></i>
                        </span>
                        Kerti gereblye
                    </a>
                    <a class="panel-block" tabindex="0">
                        <span class="panel-icon">
                            <i class="fas fa-box" aria-hidden="true"></i>
                        </span>
                        Kerti gyerek játékok
                    </a>
                    <div class="panel-block" tabindex="0">
                        <span class="panel-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </span>
                        Mezei Péter
                        <br>
                        <small>(4551 Nyíregyháza, Mogyorós út 36.)</small>
                    </div>
                </nav>
            </div>
            <div class="column is-8">
                <div class="tabs is-small">
                    <ul>
                        <li class="is-active"><a>Kosár 1</a></li>
                        <li><a>Kosár 2</a></li>
                        <li><a>Mezei Péter</a></li>
                        <li><a>Kosár 4</a></li>
                        <li class="has-text-centered">
                            <a href="#">
                                <span class="has-text-centered">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="columns">
                    <div class="column is-4">
                        <p class="title">12.700 Ft</p>
                        <p class="subtitle">nettó: 10.000 Ft</p>
                    </div>
                    <div class="column is-8">
                        <div class="buttons">
                            <button class="button is-large is-success">Fizetés</button>
                            <button class="button is-large is-danger is-outlined">Törlés</button>
                        </div>
                    </div>
                </div>
                <table class="table is-striped">
                    <col width="50">
                    <col width="*">
                    <col width="200">
                    <col width="180">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Név</th>
                            <th>Ár</th>
                            <th>Db</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Kerti lombsebprű</td>
                            <td>450.500 Ft</td>
                            <td>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="text" class="input" name="piece" value="300">
                                    </div>
                                    <div class="control">
                                        <button class="button">+</button>
                                    </div>
                                    <div class="control">
                                        <button class="button">-</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <button class="button is-outlined">Törlés</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis, atque
                                necessitatibus assumenda provident velit commodi laboriosam facere!</td>
                            <td>450.500 Ft</td>
                            <td>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="text" class="input" name="piece" value="300">
                                    </div>
                                    <div class="control">
                                        <button class="button">+</button>
                                    </div>
                                    <div class="control">
                                        <button class="button">-</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <button class="button is-outlined">Törlés</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis, atque
                                necessitatibus assumenda provident velit commodi laboriosam facere!</td>
                            <td>450.500 Ft</td>
                            <td>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="text" class="input" name="piece" value="300">
                                    </div>
                                    <div class="control">
                                        <button class="button">+</button>
                                    </div>
                                    <div class="control">
                                        <button class="button">-</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <button class="button is-outlined">Törlés</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis, atque
                                necessitatibus assumenda provident velit commodi laboriosam facere!</td>
                            <td>450.500 Ft</td>
                            <td>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="text" class="input" name="piece" value="300">
                                    </div>
                                    <div class="control">
                                        <button class="button">+</button>
                                    </div>
                                    <div class="control">
                                        <button class="button">-</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <button class="button is-outlined">Törlés</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem reiciendis, atque
                                necessitatibus assumenda provident velit commodi laboriosam facere!</td>
                            <td>450.500 Ft</td>
                            <td>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="text" class="input" name="piece" value="300">
                                    </div>
                                    <div class="control">
                                        <button class="button">+</button>
                                    </div>
                                    <div class="control">
                                        <button class="button">-</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <button class="button is-outlined">Törlés</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal demo -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>
</section>