<section class="section">
    <div class="container">
        <div class="column is-6">
            <h1 class="title">Új vásárló</h1>
            <p class="subtitle is-4">Az adatokat később még szerkesztheted
            </p>
            <form (ngSubmit)="submit()" #newCustomerForm="ngForm">
                <error-display [model]="customer"></error-display>
                <div class="field">
                    <label class="label">Felhasználó neve</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Példa Vásárló" name="name"
                            [(ngModel)]="customer.name" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Adószám</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Adószám" name="taxnumber"
                            [(ngModel)]="customer.tax_number">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email cím</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="demo@demo.com" name="email"
                            [(ngModel)]="customer.email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Telefonszám</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Telefonszám" name="phone"
                            [(ngModel)]="customer.phone" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Irányítószám</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Irányítószám" name="zip"
                            [(ngModel)]="customer.zip" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Település</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Település" name="location"
                            [(ngModel)]="customer.location" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Lakcím (Út)</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Út" name="address" [(ngModel)]="customer.address"
                            required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button-submit [model]="customer"></button-submit>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>