<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink='./'>
                <strong>Gardenova</strong>
                <!-- <strong>Gardenzilla</strong> -->
            </a>

            <a role="button" class="navbar-burger burger" [ngClass]="{'is-active': isActive}" aria-label="menu"
                aria-expanded="false" data-target="navbarBasicExample" (click)="isActive = isActive ? false : true">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': isActive}">
            <div class="navbar-start">
                <a class="navbar-item" routerLink='./pos'>
                    Értékesítés
                </a>

                <a class="navbar-item" (click)='tryQuick()'>
                    Termékek
                </a>

                <a class="navbar-item">
                    Vásárlók
                </a>

                <a class="navbar-item" routerLink='./issue'>
                    Issue(s)
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Egyéb
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Szoftver dokumentáció
                        </a>
                        <a class="navbar-item">
                            Céges adatok
                        </a>
                        <a class="navbar-item">
                            Jogi anyagok
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Ajándék kártya
                        </a>
                        <a class="navbar-item">
                            Kedvezmény kártya
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            I 💝 Gardenova
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-item">
                        <a routerLink='./notification'>
                            <span class="icon" [class.has-text-success]="notifications.length > 0"
                                [class.has-text-grey]="notifications.length == 0">
                                <i class="fas fa-bell"></i>
                            </span>
                            <small>{{notifications.length}}</small>
                        </a>
                    </div>

                    <div class="navbar-dropdown dropdown-content" *ngIf="notifications.length > 0">
                        <ng-container *ngFor="let notification of notifications; index as i">
                            <hr class="navbar-divider" *ngIf="i > 0 && i <10">
                            <p class="dropdown-item" *ngIf="i<10">
                                <a routerLink='./issue'>
                                    {{notification.subject}}
                                </a>
                            </p>
                        </ng-container>
                        <hr class="navbar-divider" *ngIf="notifications.length >= 10">
                        <p class="navbar-item has-text-centered is-block" *ngIf="notifications.length >= 10">
                            <a routerLink='./notification'>Összes megtekintése ({{notifications.length}})</a>
                        </p>
                    </div>
                </div>
                <div class="navbar-item">
                    <a class="navbar-item" routerLink='./profile'>{{username}}</a>
                    <div class="buttons">
                        <button class="button" (click)="logout()">Kijelentkezés</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>