<section class="section">
    <div class="container">
        <p class="has-text-centered title is-spaced">Elfelejtett jelszó</p>
        <p class="subtitle has-text-centered is-size-5">Amennyiben elfelejtetted a belépési jelszavadat
            <br>úgy kérünk írd be az email címedet. Mi új jelszót
            <br>készítünk és elküldjük Neked emailben.</p>
        <div class="columns is-mobile">
            <div class="column is-6-mobile is-offset-3-mobile is-4-desktop is-offset-4-desktop">
                <form (ngSubmit)="resetPassword()">
                    <!-- 
                        Notification box
                     -->
                    <div class="notification is-light" [ngClass]="'is-' + error.kind" *ngIf='error'>
                        <button class="delete" (click)='error = null'></button>
                        {{error.message}}
                    </div>
                    <div class="field" *ngIf='!isOk'>
                        <div class="control has-icons-right">
                            <input class="input" type="text" placeholder="e.g john.smith@email.com" [(ngModel)]="email"
                                name="email">
                            <span class="icon is-small is-right" *ngIf='!isValid'>
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p class="help is-danger" *ngIf='!isValid'>Nem megfelelő email cím!</p>
                    </div>
                    <div class="notification" *ngIf='isOk'>
                        Az új jelszót elküldtük a megadott email címre
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="buttons">
                            <button class="button" type="submit" *ngIf='!isOk' [class.is-loading]="isLoading">Új jelszó
                                küldése</button>
                            <button class="button" type="button" routerLink='../'>Vissza</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>